*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.page{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 18px;
}
.header img{
    width: 100%;
    height: 200px;
}
.content{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.footer{
    margin-left: 20px;
    margin-right: 20px;

}
.footer p{
    font-size: smaller;
    color: #929491;
}
p{
    padding: 20px;
}
h3{
    margin-left: 20px;
}
u,b,a{
    color: red;
}
.content img{
    width: 150px;
    object-fit:fill;
}